* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import url("https://fonts.googleapis.com/css2?family=Allerta&family=Inter:wght@100;200;300;400&display=swap");
html {
  scroll-behavior: smooth;
}
.jumbo-wrapper {
  width: 100%;
  height: 100vh;
  background: url(../img/banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  /* background-position-y: -200px; */
  position: relative;
  overflow-x: hidden;
}
.jumbo {
  width: 100%;
  height: 100%;
  backdrop-filter: brightness(40%);
}

.banner-navigation {
  position: absolute;
}
.banner-btn {
  width: 2px;
  height: 100px;
  background-color: rgba(255, 255, 255, 0.466);
  margin: 20px 0;
  position: relative;
  left: 90vw;
  top: 50vh;
  transform: translateY(-25vh);
  z-index: 999;
  cursor: pointer;
}

.header {
  display: flex;
  padding: 50px 100px;
  justify-content: space-between;
  align-items: center;
}
.header .logo {
  width: 120px;
  position: relative;
  display: flex;
  flex-direction: column;
}
.header ul {
  display: flex;
  list-style: none;
}
.header ul li {
  margin: 0 30px;
  font-family: "Inter", sans-serif;
}

.header ul li a {
  font-weight: 100;
  letter-spacing: 0.4em;
  text-decoration: none;
  color: #ffffff;
  transition: 0.1s;
}
.header ul li a:hover {
  color: #ffaf00;
}
.header ul li:first-child a {
  color: #ffb000;
}
.desc {
  position: absolute;
  font-family: "Allerta", sans-serif;
  color: #ffffff;
  bottom: 100px;
  left: 100px;
}
.desc h3 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.6em;
}
.desc p {
  font-size: 15px;
  font-weight: 100;
  letter-spacing: 0.4em;
  margin-top: 10px;
}

.latest-works-wrapper {
  padding: 30px 100px;
  /* display: flex;
  flex-direction: column; */
  font-family: "Inter", sans-serif;
}
.latest-works-wrapper .grid {
  width: 100%;
  height: 800px;
  background-color: rgb(151, 148, 148);
}
.latest-works-wrapper p {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0.2em;
  margin: 50px 0;
}
.latest-works-wrapper a {
  text-decoration: none;
  color: #ffb000;
  border: 1px solid #ffb000;
  font-size: 20px;
  padding: 20px 50px;
  text-align: center;
  display: inline-block;
  margin-top: 30px;
  text-align: center;
  font-weight: 100;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.2s;
  letter-spacing: 0.2em;
}
.latest-works-wrapper a:hover {
  background-color: #ffb000;
  color: #000;
}
.about {
  /* height: 670px; */
  padding: 20px 100px;
  background: rgba(0, 0, 0, 0.747);
  color: white;
  font-family: "Inter", sans-serif;
}
.about-wrapper {
  width: 100%;
  height: 100%;
  content: "";
  background: url(../img/logo.png);
  background-repeat: no-repeat;
  background-size: 1000px;
  background-position-x: 700px;
  background-position-y: 100px;
}
.about-outer-wrapper {
  background: rgb(0, 0, 0);
}
.box {
  display: flex;
}
.about-wrapper .box .img-box {
  width: 517px;
  height: 674px;
  background: url(../img/about-img.png);
  background-repeat: no-repeat;
  background-size: cover;
  flex: 1;
  margin-right: 20px;
}
.about-wrapper .box .about-desc {
  flex: 2;
}
.about-wrapper h2 {
  letter-spacing: 0.2em;
  margin-bottom: 20px;
  font-size: 2em;
}
.about-wrapper p {
  margin-bottom: 40px;
  margin-right: 200px;
  margin-left: 30px;
  font-size: 24px;
  font-weight: 100px;
  letter-spacing: 0.1em;
}

.our-team {
  font-family: "Inter", sans-serif;
  /* width: 500px;
  height: 500px; */
  margin: 100px 0;
  padding: 0 100px;
}
.team-content {
  display: flex;
  justify-content: space-around;
}

.our-team .title {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0.2em;
  margin: 50px 0;
}

.our-team .team-img {
  border-radius: 50%;
  width: 400px;
  height: 400px;
  background: rgb(121, 120, 120);
  position: relative;
  background-repeat: no-repeat;
}
.our-team .team-card p {
  text-align: center;
}
.team-name {
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 36px;
  color: #000000;
  margin-top: 10px;
}
.team-position {
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  color: #000000;
}

.team-card {
  position: relative;
}

.team-card .add-btn {
  width: 100px;
  height: 100px;
  background: #ffb000;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  border-radius: 50%;
  font-size: 50px;
  right: 0;
  bottom: 0;
  cursor: pointer;
  transition: 0.1s;
}
.add-btn.active {
  transform: rotate(45deg);
}

.team-card .add-btn:hover {
  background: #ce8d00;
}

.team-card .sosmed-btn {
  width: 70px;
  height: 70px;
  background: #ffb000;
  display: flex;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  position: absolute;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  /* z-index: -99; */
  opacity: 0;
  visibility: hidden;
}
.team-card.active .sosmed-btn {
  /* z-index: 9999; */
  opacity: 1;
  visibility: visible;
}

.team-card .sosmed-btn:hover {
  background: #ce8d00;
}
.sosmed-btn.linkedin {
  right: -5%;
  bottom: 26%;
}
.sosmed-btn.instagram {
  right: -10%;
  bottom: 45%;
}
.sosmed-btn.github {
  right: -5%;
  bottom: 65%;
}

.team-navigation {
  list-style: none;
  display: flex;
  margin-top: 50px;
  position: relative;
  justify-content: center;
}
.team-navigation li {
  width: 100px;
  height: 3px;
  background: rgba(0, 0, 0, 0.123);
  margin: 0 10px;
}

.line {
  width: 100%;
  padding: 0 200px;
  margin: 50px 0;
}
.lines {
  height: 10px;
  width: 100%;
  background-color: #ffaf00;
  border-radius: 5px;
}

.latest-news {
  padding: 0 100px;
  margin-top: 80px;
}

.latest-news .title {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0.2em;
  font-family: "Inter", sans-serif;
  margin: 50px 0;
}
.card-wrapper {
  display: flex;
  justify-content: space-between;
}
.news-card {
  display: flex;
  flex-direction: column;
  width: 500px;
  font-family: "Inter", sans-serif;
  /* justify-content: space-between; */
  align-items: center;
  margin-bottom: 30px;
  position: relative;
  cursor: pointer;
}
.news-card:hover::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.164);
}

.news-card .news-desc-wrapper {
  display: flex;
  flex-direction: column;
}
.news-card .img-box {
  width: 100%;
  height: 500px;
  background-repeat: no-repeat;
}
.news-card h3 {
  font-size: 24px;
  font-weight: normal;
  margin-top: 20px;
  letter-spacing: 0.2em;
  width: 100%;
  text-align: left;
}
.news-card p {
  font-size: 14px;
  margin-top: 5px;
  letter-spacing: 0.2em;
}
.contact {
  font-family: "Inter", sans-serif;
  padding: 0 100px;
  margin: 50px 0;
  font-size: 20px;
}
.contact ul li {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  margin: 10px 0;
}
.contact ul li a {
  color: rgba(0, 0, 0, 0.562);
  text-decoration: none;
}
.contact ul li a:hover {
  color: #ffaf00;
}
.contact img {
  margin-right: 10px;
  width: 40px;
}
.terms {
  padding: 0 100px;
  margin: 30px 0;
}
.terms a {
  font-family: "Inter", sans-serif;
  text-decoration: none;
  color: #20202075;
  font-size: 20px;
  margin-right: 20px;
  transition: 0.2s;
}
.terms a:hover {
  color: #ffb000;
}
.footer {
  font-family: "Inter", sans-serif;
  padding: 20px 100px;
  text-align: center;
  border-top: 1px solid #939393c7;
  color: #939393;
  font-size: 15px;
}
